NODE_ENV=development
APP_NAME=witzer-api

# Applications variables
HOST=http://localhost:3333
PORT=3333

# Production connection string.
DATABASE_URI=

# PostgreSQL credentials for development mode/config.
DATABASE_TYPE=postgresql
DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# SHA512 (hmac) secret
APP_HASHMAC_SECRET=
