NODE_ENV=development

# Production connection string.
DATABASE_URI=

# PostgreSQL credentials for development mode/config.
DATABASE_TYPE=postgresql
DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
